.App {
  background-image: url('/bkgimage.png');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.hero-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  text-align: left;
  max-width: 50%;
  font-family: 'Poppins', sans-serif;
  margin-left: 4rem;
  padding-left: 0;
}

h1 {
  color: #CEF4DF;
  margin-bottom: 1rem;
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 1.1;
  text-align: left;
  margin-left: 0;
  padding-left: 0;
  white-space: nowrap;
}

p {
  color: #18A0DD;
  font-size: 4.5rem;
  margin: 0;
  font-weight: 600;
  text-align: left;
  margin-left: 0;
  padding-left: 0;
  white-space: nowrap;
}
